@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
 
.contact-header-image{
  z-index: 99;
  }
  .portfolio-header-image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(50%);
  }
  .portfolio-main-heading{
        font-family: 'Karla', sans-serif;
        font-size: 50px;
        font-weight: 500;
        background-color: #FFB03B;
        position: absolute;
        top: 12rem;
        color: white;
        z-index: 99;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 10px 10px 10px 10px;
  }
  @media (max-width:992px) {
    .portfolio-main-heading {
      font-size: 40px;
    }
  }
  @media (max-width:768px) {
    .portfolio-main-heading {
      font-size: 28px;
      top: 8rem;
    }
    .portfolio-header-image img{
      width: 100%;
      height: 280px;
    }
  }
  @media (max-width:600px) {
    .potfolio-main-heading {
      font-size: 22px;
      top: 8rem;
    }
  }