@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
.contact-us-main-container{
  font-family: 'Karla', sans-serif;
  background-color: rgb(51, 49, 49);
}
.contact-header-image{
z-index: 99;
}
.contact-header-image img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(50%);
}
.contact-us-main-heading{
      font-size: 50px;
      font-weight: 500;
      background-color: #FFB03B;
      position: absolute;
      top: 12rem;
      color: white;
      z-index: 99;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      padding: 10px 10px 10px 10px;
}
.mapouter
{
  position:relative;
  text-align:right;
  width:100%;
  height:300px;
}
.gmap_canvas 
{
  overflow:hidden;
  background:none!important;
  width:100%;
  height:300px;
}
.gmap_iframe 
{
  width:100% !important;
  height:300px!important;
}
.contact-top i{
  color: #FFB03B;
}
.cotact-top-address{
    text-align: center;
    width: 250px;
    padding: 30px 30px 10px 30px;
    border: 1px solid rgb(225, 223, 223);
}
.cotact-top-mail{
  text-align: center;
  width: 250px;
  padding: 30px 30px;
  border: 1px solid rgb(225, 223, 223);

}
.cotact-top-phone{
  text-align: center;
  width: 250px;
  padding: 30px 30px;
  border: 1px solid rgb(225, 223, 223);
}
.contact-top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  overflow: hidden;
  padding:50px 0px 50px 0px;
  margin: -50px 200px 30px 200px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}
.get-in-touch{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.find-us{
  width: 30%;
  border-radius:8px;
  background: rgb(255,176,59);
  background: linear-gradient(90deg, rgba(255,176,59,1) 11%, rgba(236,169,69,1) 24%, rgba(128,128,128,1) 84%);
}
.contact-us-form{
  border-radius: 8px;
  padding: 20px 50px;
  width: 60%;
  color: white;
  box-shadow: 5px 8px 66px -20px rgb(255,176,59);
  border: 0.5px solid #FFB03B;

}
.form-container-headings{
  text-align: center;
  margin-bottom: 20px;
  color: #FFB03B;
}
.form-container-headings h1{
  font-size: 40px;
  font-weight: 500;
  color: #FFB03B;
}
.form-container-headings p{
  font-size: 18px;
  font-weight: 300;
}
.contact-us-form input, .contact-us-form textarea{
  margin-bottom: 20px;
  font-weight: 300;
  border-radius: 22px;
  border: none;
}
.contact-us-form input:focus, .contact-us-form textarea:focus{
  border: 3px solid rgb(255,176,59);
  outline: none;
  border: 3px solid rgb(255,176,59);
  box-shadow: 5px 8px 66px -20px rgb(255,176,59);
}

.contact-us-form-button{
  background-color: rgb(255,176,59);
  color: white;
  width: 180px;
  margin-bottom: 20px;
  align-self: flex-end;
}
.contact-us-form-button:hover{
  background-color: rgb(255,176,59);
  color: black;
}
.find-us-icons i{
  margin-right: 20px;
  color: white;
}
.find-us-icons i:hover{
  color: #eb4034;
}
.find-us h1{
  font-size: 40px;
  font-weight: 500;
  letter-spacing: normal;
}
.find-us p{
  font-size: 18px;
  font-weight: 400;
  color: black;
}
.message-notofication{
  color: green;
  font-size: 18px;
}
.message{
  display: flex;
  flex-direction: column;
}

@media (max-width:1200px){
  .contact-top{
    margin: -50px 50px 30px 50px;
  }
}
@media (max-width:992px) {
  .contact-us-main-heading {
    font-size: 40px;
  }
  .contact-top{
    flex-direction: column;
    padding:30px 0px 30px 0px;
    margin: -50px 40px 30px 40px;
  }
  .cotact-top-phone{
    width: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cotact-top-mail{
    width: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cotact-top-address{
    width: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .get-in-touch{
    flex-direction: column;
  }
  .find-us{
    width: 100%;
  }
  .contact-us-form{
    width: 100%;
  }
}
@media (max-width:768px) {
  .contact-us-main-heading {
    font-size: 28px;
    top: 8rem;
  }
  .contact-header-image img{
    width: 100%;
    height: 280px;
  }
  .get-in-touch{
    margin-bottom: 20px;
  }
  .contact-us-form{
    padding: 20px 30px;
  }
  .find-us p{
    font-size: 16px;
  }
  .find-us h1{
    font-size: 30px;
  }
  .contact-top{
    margin-bottom: 10px;
  }
}
@media (max-width:600px) {
  .contact-us-main-heading {
    font-size: 22px;
    top: 8rem;
  }
  .contact-top{
    flex-direction: column;
    padding:20px 0px 20px 0px;
    margin: -50px 10px 30px 10px;
  }
  .contact-us-form{
    padding: 20px 10px;
  }
  .contact-top{
    margin-bottom: 10px;
  }
}
