@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
.main-wrapper{
    font-family: 'Karla', sans-serif;
}
.service-heading{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    background-color: #FFB03B;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
}
.card-img img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-data h1{
    font-size: 24px;
    font-weight: 500;
}
.card-data p{
    font-size: 16px;
}
.card-data{
   padding:20px 15px;
}
.service-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
    margin:30px 0px;
}
.service-card{
    width: 350px;
    border-radius: 8px;
    box-shadow: rgba(10, 65, 123, 0.15) 0px 5px 15px 0px;
    margin-bottom: 15px;
}
.view-service-btn{
    font-size: 18px;
    color:white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #333131;
}
@media (max-width:992px) {
    .service-heading{
         font-size: 34px;
    }
}
@media (max-width:768px) {
    .service-heading{
         font-size: 24px;
    }
}


.card-img{
    position: relative;

}
