@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
.service1-description img{
  width: 200px;
  height: auto;
  margin-left: 130px;
}
.service1-description img {
  position: relative;
  margin-bottom: 20px;
}
.raaa{
  background-color: #FFB03B;
  padding: 5px 5px;

}

@keyframes vibration {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.service1-description img:hover {
  animation: vibration 0.5s infinite;
}
.service1-main{
  margin-top: 150px;
  font-family: 'Karla', sans-serif;
}
.service1-main-heading{
  font-size: 50px;
   font-weight: 700;
   text-align: center;
   margin-bottom: 30px;
}
.service-side-data{
  width: 40%;
  margin-top: 100px;
}
.service1-description button{
  width: 200px;
  height: 50px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #FFB03B;
}
.service1-description{
     width: 60%;
}
.service1-description p{
  font-size: 18px;
  font-weight:300;
}
.service1-description h1{
  font-size: 30px;
  font-weight: 500;
}
.service1-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}
.sub-services{
  font-family: 'Karla', sans-serif;
  background-color: rgb(51, 49, 49);
  color: white;
  padding: 20px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-services h2{
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #FFB03B;
}
.sub-services p{
  font-size: 24px;
  font-weight: 300;
}
.sub-services-options{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.sub-services-options i{
  margin-right: 10px;
  color: #FFB03B;
}
/* for pu-label-images section */
.pu-label-potfolio{
  background-color: rgb(51, 49, 49);
  margin-bottom: 0px;
}
.pu-label-potfolio h2{
  margin-bottom: 0px;
  color: white;
  text-align: center;
  padding: 20px 0px 80px 0px;
}
.pu-label-images{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}
.pu-label-images img{
  width: 250px;
  height: 180px;
  box-shadow: #FFB03B 0px 8px 27px -5px, #FFB03B 0px 8px 16px -8px;
}
@media (max-width:768px) {
    .service1-data{
        flex-direction: column;   
    }
    .service-side-data{
        width: 100%;
        margin-top: 30px;
    }
    .service1-description{
        width: 100%;
   }
   .service1-description img{
    margin-left: 0px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
   }
   .sub-services h2{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .sub-services p{
    font-size: 18px;
  }
}
@media (max-width:600px) {
  .service1-main-heading{
    font-size: 32px;
  }
  .service1-description h1{
    font-size: 24px;
  }
  .sub-services h2{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .sub-services p{
    font-size: 16px;
  }
}