@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
.LoginSignUpContainer {
  font-family: 'Karla', sans-serif;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666565;
  position: fixed;
  top: 0%;
  left: 0;  
}
.LoginSignUpBox {
  background-color: #333131;
  width: 28vw;
  height: 72vh;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 25%;
  border-radius: 5px;
}
.login_signUp_toggle {
  display: flex;
  height: 3vmax;
}
.login_signUp_toggle > p {
  color: #FFB03B;
  font: 300 1vmax ;
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
  margin: auto;
}
.login_signUp_toggle > p:hover {
  color: #ffb13bd7;
}
.LoginSignUpBox > div > button {
  background-color: #FFB03B;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
  margin-top: 10px;
}
.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}
.signUpForm {
  transform: translateY(-100%) translateX(-100vmax);
  padding-top: 80px;
}
.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.loginForm > div > input,
.signUpForm > div > input,
.signUpForm > div > select {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax ;
  outline: none;
  background-color: white;
  color: black;
  margin-top: 8px;
}
.loginForm > div > svg,
.signUpForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}
.loginForm > a {
  color: rgb(255, 250, 250);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 0.8vmax ;
  font-family: 'Karla', sans-serif;
}
.loginForm > a:hover {
  color: black;
}
#registerImage > img {
  width: 3vmax;
  border-radius: 100%;
  color: white;
}
#registerImage > input {
  display: flex;
  padding: 0%;
  background-color: #333131;
}
#registerImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax ;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgb(255, 255, 255);
  background-color:#FFB03B;
}
#registerImage > input::file-selector-button:hover {
  background-color:#f8a11f;
}
.loginBtn,
.signUpBtn {
  border: none;
  background-color: #FFB03B;
  color: white;
  font: 300 0.9vmax ;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  margin-top: 8px;
}
.loginBtn:hover,
.signUpBtn:hover {
  background-color: #ffb13bd7;
}
.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}
.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}
.shiftToRight {
  transform: translateX(100%);
}
@media screen and (max-width:992px){
  .LoginSignUpBox {
    width: 50%;
    height: 95vh;
}
.LoginSignUpBox {
  background-color: #333131;
  width: 50%;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 20%;
  border-radius: 5px;
}
}
@media screen and (max-width: 600px) {
  .LoginSignUpContainer {
    background-color: #333131;
  }
  .LoginSignUpBox {
    width: 100vw;
    height: 95vh;
  }
  .login_signUp_toggle {
    height: 5vmax;
  }
  .login_signUp_toggle > p {
    font: 300 1.5vmax ;
  }
  .loginForm,
  .signUpForm {
    padding: 5vmax;
  }
  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax ;
  }
  .loginForm > div > svg,
  .signUpForm > div > svg {
    font-size: 2.8vmax;
  }
  .loginForm > a {
    font: 500 1.8vmax ;
  }
  #registerImage > img {
    width: 8vmax;
    border-radius: 100%;
  }
  #registerImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax;
  }
  .loginBtn,
  .signUpBtn {
    font: 300 1.9vmax ;
    padding: 1.8vmax;
  }
}