@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

 .Hero-section{
    font-family: 'Karla', sans-serif;
}
.carousel-data>h1{
    font-size: 4vw;
    color:#FFB03B;
}
.carousel-indicators [data-bs-target]{
    width: 15px ;
    height: 15px;
    border-radius: 50%;
}
.slide-img{
    filter: brightness(30%) blur(2px);
    height: 50vw;
}
.slider-image img{
    width: 20vw;
    height: auto;
    transition: width 0.3s ease-in;
}
.hero-main{
    display: flex;
    flex-direction: row;
}
.carousel-data>h3{
    font-size: 3vw ;
}
.carousel-data>p{
    font-size: 20px;
    width: 50vw;
}
.carousel-data{
    margin-right: 30px;
}
.inner-text{
    color: skyblue;
}
.carousel-button{
    width: 20vw;
    height: 3.5vw;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.carousel-button:focus{
    background-color: #FFB03B;
    color: white;
}
.carousel-caption{
    text-align: left;
    width: 80vw;
}
 .slide-data{
    margin-bottom: 5vw;
}
.slide-2{
   position: relative;
   top: 2vw;
}
@media ( max-width:992px ) and (min-width:576px) {
    .slide-img{
        height: 70vw;
    }
    .carousel-data>p{
        font-size: 2vw;
        font-weight: normal;
        width: 50vw;
    }
    .carousel-caption{
        text-align: left;
        width: 80vw;
        position: absolute;
        left: 10vw;
        bottom: 10vw;
    }
    .carousel-data>h3{
        font-size: 3vw;
    }
    .carousel-button{
        width: 20vw;
        height: 5vw;
        font-size:2vw ;
        font-weight: 500;
    }
}
@media (max-width:576px) {
    .slide-img{
        height: 95vh;
    }
    .hero-main{
        display: flex;
        flex-direction: column;
    }
    .carousel-button{
        width: 100%;
        height: 10vw;
        font-size:4vw ;
        font-weight: 500;
    }
    .carousel-caption{
        text-align: center;
        width: 80vw;
        margin: auto;
        position: absolute;
         top: 110px;
    }
    .carousel-data>h1{
        font-size: 30px;
        font-weight: 600;
        color:#FFB03B;
        text-align: start;
    }
    .carousel-data> p{
         font-size: 15px;
         font-weight: lighter;
           margin: auto;
           width: 110%;
           text-align: start;
    }
    .carousel-data>h3{
        font-size: 20px ;
        font-weight: 300;
        letter-spacing: 0.5px;
        width: 110%;
        text-align: start;
    }
    .slider-image img {
        width: 150px;
        height: auto;
        margin-top: 12px;
    }
}