@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500&display=swap');
.home-service-main{
    font-family: 'Karla', sans-serif;
    background-color: #FFB03B;
    /* #333131 */ 
}
.home-service-heading{
    padding: 40px 0px;
    text-align: center;
}
.home-service-heading h1{
    /* color: #FFB03B; */
    text-decoration: underline;
    font-size: 50px;
    font-weight: 500;
}
.home-service-heading p{
   color: black;
    padding: 1.25rem 12rem;
    font-size: 20px;
    font-weight: 400;
}
.home-service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    width: 100%;
}
.home-service-card{
    position: relative;
    height: 280px;
    /* width: 380px; */
    width: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.home-service-card img{
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    object-fit: cover;
}
.service-card-inner{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-card-inner h1{
    font-size: 28px;
    padding-right: 10px;
    padding-right: 10px;
} 
.service-card-inner button{
    width: 150px;
    height: 40px;
    background-color: #FFB03B;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}
@media (max-width:1200px) {
    .home-service-heading p{
        padding: 1.25rem 8rem;
    }
}
@media (max-width:992px) {
    .home-service-card{
        width: 50%;
    }
    .home-service-box{
        flex-wrap: wrap;
    }
    .home-service-heading{
        padding: 30px 0px;
    }
    .home-service-heading h1{
        font-size: 40px;
    }
    .home-service-heading p{
        padding: 1.25rem 6rem;
        font-size: 18px;
        font-weight: 400;
    }
    
}
@media (max-width:768px) {
    .home-service-heading{
        padding: 20px 0px;
    }
    .home-service-heading h1{
        font-size: 30px;
    }
    .home-service-heading p{
        padding: 1.25rem 3rem;
        font-size: 18px;
    }
}
@media (max-width:600px) {
    .home-service-card{
        width: 100%;
    }
}
